# Radar Configuration

# Server Port (default: 80)
PORT=80
# Server Host Port (default: 8080)
HOST_PORT=8080
# Server Host (default: 0.0.0.0)
HOST=0.0.0.0

# Environment (development or production)
NODE_ENV=production

# SQLite database file location
# For Docker, this should point inside the mounted data volume.
DB_PATH=/app/data/database.sqlite

#Docker data path
DATA_PATH=./radar-data

#Image name / url
#If building local, no url radar:latest
# IMAGE_NAME=radar:latest
# IMAGE_NAME=ghcr.io/kevinmuscara/radar:main
