<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="http://localhost/setup" method="POST" enctype="multipart/form-data">
    <input type="file" name="logo" accept="image/*">
    <input type="text" name="schoolName" placeholder="School Name">
    <input type="text" name="username" placeholder="Admin Username">
    <input type="password" name="password" placeholder="Admin Password">
    <button type="submit">Complete Setup</button>
  </form>
</body>

</html>